* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f3f3f3;
    font-family: 'Open-Sans regular';
}

button {
    cursor: pointer;
    font-family: 'Open-Sans bold';
}

@font-face {
    font-family: 'Open-Sans bold';
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Open-Sans regular';
    src: url(../fonts/OpenSans-Regular.ttf);
}

header {
    background-color: #fff;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a9aaa9;
}

input[name=search] {
    padding: 7px;
    border-radius: .4em;
    border: 1px solid rgb(158, 157, 157);
}

header button {
    border-radius: .4em;
    border: 1px solid rgb(158, 157, 157);
    padding: 5px 10px;
    color: #fff;
}

header button:first-of-type {
    background-color: #1391d2;
}

header button:nth-of-type(2) {
    background-color: #fc9e15;
}

header button:nth-of-type(3) {
    background-color: #e3403d;
}

h1.logo {
    margin: 0;
    font-family: Open-Sans bold;
}

.logo .blue {
    color: #1391d2;
}

.logo .orange {
    color: #fc9e15;
}

.logo .red {
    color: #e3403d;
}

.location-card {
    gap: 10px;
    border: 1px solid rgb(202, 197, 197);
    background-color: #fff;
    border-radius: .4em;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.location-card > div {
    gap: 10px;
}

.location-card button {
    border-radius: .4em;
    border: 1px solid rgb(158, 157, 157);
    /* border: none; */
    padding: 10px 15px;
    color: #fff;
}

button.go-btn {
    background-color: #fc9e15;
}

button.go-btn:hover {
    background-color: #fca015b2;
}

button.delete-btn {
    background-color: #e3403d;
}

button.delete-btn:hover {
    background-color: #e3403dce;
}

.weather-container {
    height: 50%;
    width: 100%;
    border: 1px solid #333;
}

.location-container {
    width: 100%;
    height: 50%;
}

/* .map {
    margin: 20px;
} */

.main-content {
    width: 40%;
}

main {
    gap: 20px;
    padding: 20px;
}


/* HELPERS */

.flex {
    display: flex;
}

.main-layout {
    max-width: 1300px;
    margin: auto;
}